<h1>Thêm sinh viên</h1>
<form action="/add" method="POST">
    Student Code: <input type="text" name="studentCode" placeholder="Nhập mã sinh viên của ban"><br>
    Date: <input type="text" name="date" placeholder="Nhập ngày sinh của bạn"><br>
    Giới tính: <input type="text" name="sex" placeholder="Nhập giới tính của ban"><br>
    Address: <input type="text" name="address" placeholder="Nhập địa chỉ của ban"><br>
    <button type="submit">Thêm sinh viên</button>
</form>